// Add Global Variables
@import "../../../../styles.scss";

.top-header {
    background-color: $greenLigth;
    .items {
        margin: 5px auto;
        .social {
            font-size: 2rem;
        }
        .language {
            float: right;
            button {
                padding: 0px 0px 0px 10px;
                &:hover,
                &:focus {
                    text-decoration: none;
                }
                img {
                    width: 35px;
                }
                span {
                    display: block;
                    color: $white;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #66cc33;
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            color: white;
        }
        .logo {
            width: 80px;
            @media only screen and (max-width: $sm_size) {
                width: 50px;
            }
        }
        ul {
            @media only screen and (max-width: $sm_size) {
                display: none;
            }
        }
        ul.mobil {
            display: block;
            position: fixed;
            left: 0;
            right: 0;
            background-color: $green;
            height: auto;
            padding: 5px 10px;
            z-index: 1;
            margin-top: 308px;
            li {
                display: block;
                margin: 1rem auto;
            }
        }
        .open-menu {
            position: absolute;
            top: 0;
            right: 15px;
            font-size: 2em;
            @media only screen and (min-width: 769px) {
                display: none;
            }
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 99;
    width: 100%;
    .menu .logo {
        width: 50px;
    }
}
