<div class="container-fluid">
  <div class="row top-header">
      <div class="col-md-10 offset-md-1">
        <div class="items">
            <a href="" class="social" target="_blank">
                <i class="fa fa-facebook-square"></i>
              </a>
              <div class="language">
                  <button (click)="changeLang('es')" class="btn btn-link">
                    <img src="assets/img/BanderaMex.jpg" alt="Raquet Club México">
                    <span>MX</span>
                  </button>
                  <button (click)="changeLang('en')" class="btn btn-link">
                    <img src="assets/img/BanderaUsa.jpg" alt="Raquet Club USA">
                    <span>USA</span>
                  </button>
              </div>
        </div>
    </div>
  </div>
  <div class="row header" #stickyMenu [class.sticky] = "sticky">
    <div class="col-md-10 offset-md-1">
      <div class="menu">
          <a routerLink="/home">
            <img src="assets/img/logo.png" alt="Raquet Club"  class="logo">
          </a>
          <ul class="list-inline" [ngClass]="{'mobil' : checkMenu == true }">
            <li class="list-inline-item" *ngFor="let option of menuOptions">
                <a routerLink="{{ option.url }}" [routerLinkActive]="['router-link-active']" (click)="openMenu($event)">
                  {{ option.item }}
                  <i class="{{ option.icon }}"></i>
                </a>
            </li>
          </ul>
          <a href="#" class="open-menu" (click)="openMenu($event)"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>
</div>