<div class="containter-fluid">
  <div class="row mx-0">
    <div class="col-sm-12 px-0">
      <ngb-carousel class="slider">
        <ng-template ngbSlide *ngFor="let option of carouselOptions">
          <div class="picsum-img-wrapper">
            <img src="{{ option.img }}" alt="Raquet Club">
          </div>
          <div class="carousel-caption">
            <h1 class="title">
              Raquet Club
            </h1>
            <p class="subtitle"> {{ option.item }} </p>
            <a href="" routerLink="{{ option.url }}" class="btn btn-primary"> {{ option.linkText }} </a>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-sm-12 px-0">
      <div class="title-default">
        <h2> {{ about?.title }}</h2>
      </div>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-sm-8 offset-sm-2">
      <p class="text-default">
        {{ about?.content }}
      </p>
    </div>
  </div>
  <div class="row mx-0 parallax banner-first">
    <div class="col-sm-12 px-0">
      <p class="text-default w-60">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-sm-12 text-center px-0">
      <div class="title-default">
        <h2>
          {{ activities?.title }}
        </h2>
      </div>
    </div>
  </div>
  <div class="row mx-0 mt-5">
    <div class="col-md-8 offset-md-2 text-center">
      <div class="grid-three">
        <div class="picture-item">
          <a href=""><img src="assets/img/actividades.jpg" alt="Raquet Club" class="img-fluid"></a>
          <p class="description">
            Actividades en grupo, únete
            a las clinicas y diviertete
            aprendiendo.
          </p>
        </div>
        <div class="picture-item">
          <a href=""><img src="assets/img/actividades.jpg" alt="Raquet Club" class="img-fluid"></a>
          <p class="description">
            Actividades en grupo, únete
            a las clinicas y diviertete
            aprendiendo.
          </p>
        </div>
        <div class="picture-item">
          <a href=""><img src="assets/img/actividades.jpg" alt="Raquet Club" class="img-fluid"></a>
          <p class="description">
            Actividades en grupo, únete
            a las clinicas y diviertete
            aprendiendo.
          </p>
        </div>
      </div>
      <a routerLink="/activity" class="btn btn-light my-4">
        {{ activities?.link }}
      </a>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-sm-12 px-0 parallax banner-first">
      <p class="text-default w-60">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-sm-12 text-center px-0">
      <div class="title-default">
        <h2>
          {{ gallery?.title }}
        </h2>
      </div>
    </div>
  </div>
  <div class="row mx-0 mt-5">
    <div class="col-md-8 offset-md-2 text-center">
      <div class="grid-three">
        <div class="picture-item">
          <a href="" routerLink="/activity/detail"><img src="assets/img/actividades.jpg" alt="Raquet Club"
              class="img-fluid"></a>
        </div>
        <div class="picture-item">
          <a href="" routerLink="/activity/detail"><img src="assets/img/actividades.jpg" alt="Raquet Club"
              class="img-fluid"></a>
        </div>
        <div class="picture-item">
          <a href="" routerLink="/activity/detail"><img src="assets/img/actividades.jpg" alt="Raquet Club"
              class="img-fluid"></a>
        </div>
      </div>
      <a routerLink="/gallery" class="btn btn-light my-4"> {{ gallery?.link }} </a>
    </div>
  </div>
</div>