// Add Global Variables
@import "../../../../../styles.scss";

.parallax {
    .text-default {
        background-color: rgba($color: $white, $alpha: 0.7);
        color: $green;
        padding: 40px;
    }
}


.banner-first {
    background-image: url("/assets/img/Banne2.jpg");
}