<div class="row mx-0">
    <div class="col-sm-12 px-0">
        <div class="title-default">
            <h2> {{ about?.title }} </h2>
        </div>
    </div>
</div>
<div class="row mx-0">
    <div class="col-sm-8 offset-sm-2">
        <p class="text-default">
            {{ about?.content }}
        </p>
    </div>
</div>
<div class="row mx-0">
    <div class="col-sm-12 px-0">
        <ngb-tabset>
            <ngb-tab title="{{ about?.mission.title }}">
                <ng-template ngbTabContent>
                    <p>
                        {{ about?.mission.content }}
                    </p>
                    <ul class="points" *ngFor="let list of about?.mission.list">
                        <li>
                            {{ list.item }}
                        </li>
                    </ul>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="{{ about?.view.title }}">
                <ng-template ngbTabContent>
                    <p>
                        {{ about?.view.content }}
                    </p>
                    <ul class="points" *ngFor="let list of about?.view.list">
                        <li>
                            {{ list.item }}
                        </li>
                    </ul>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="{{ about?.objectives.title }}">
                <ng-template ngbTabContent>
                    <ul class="points" *ngFor="let list of about?.view.list">
                        <li>
                            {{ list.item }}
                        </li>
                    </ul>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>