<div class="row mx-0">
    <div class="col-sm-12 px-0">
        <div class="title-default">
            <h2>
                {{ gallery?.title }}
            </h2>
        </div>
    </div>
</div>
<div class="row mx-0 my-5">
    <div class="col-md-8 offset-md-2 text-center">
        <div class="grid-three">
            <div class="picture-item">
                <a href=""><img src="assets/img/actividades.jpg" alt="Raquet Club" class="img-fluid"></a>
            </div>
            <div class="picture-item">
                <a href=""><img src="assets/img/actividades.jpg" alt="Raquet Club" class="img-fluid"></a>
            </div>
            <div class="picture-item">
                <a href=""><img src="assets/img/actividades.jpg" alt="Raquet Club" class="img-fluid"></a>
            </div>
            <div class="picture-item">
                <a href=""><img src="assets/img/actividades.jpg" alt="Raquet Club" class="img-fluid"></a>
            </div>
            <div class="picture-item">
                <a href=""><img src="assets/img/actividades.jpg" alt="Raquet Club" class="img-fluid"></a>
            </div>
            <div class="picture-item">
                <a href=""><img src="assets/img/actividades.jpg" alt="Raquet Club" class="img-fluid"></a>
            </div>
        </div>
    </div>
</div>