<footer>
    <div class="container-fluid">
        <div class="row footer">
            <div class="col-md-10 offset-md-1 main">
                <div class="address">
                    <i class="fa fa-map-marker"></i>
                    <h2 class="title">
                        {{ footer?.address.title }}
                    </h2>
                    <a href="{{ footer?.address.location }}" target="_blank">
                        {{ footer?.address.content }}
                    </a>
                    <h4 class="title mb-0">
                        {{ footer?.phone.title }}
                    </h4>
                    <a href="tel: {{ footer?.phone.one }}">
                        {{ footer?.phone.one }}
                    </a>
                    <a href="tel: {{ footer?.phone.two }}">
                        {{ footer?.phone.two }}
                    </a>
                </div>
                <div class="access">
                    <i class="fa fa-home"></i>
                    <h2 class="title">
                        {{ footer?.shortcuts.title }}
                    </h2>
                    <ul>
                        <li *ngFor="let option of menuOptions">
                            <a routerLink="{{ option.url }}" [routerLinkActive]="['router-link-active']">
                                {{ option.item }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="emergency">
                    <i class="fa fa-phone"></i>
                    <h2 class="title">{{ footer?.emergency.title }}</h2>
                    <ul>
                        <li>
                            <a href="">Policia</a>
                        </li>
                        <li>
                            <a href="">Cruz Roja</a>
                        </li>
                        <li>
                            <a href="">Cruz Verde</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-0 footer-bottom">
        <div class="col-sm-10 offset-md-1 px-0">
            <a href="https://www.white-cloud.tech/" class="logo-whitecloud" target="_blank">
                <img src="assets/img/white-cloud-isologotipo.png" alt="White Cloud">
            </a>
        </div>

    </div>
</footer>