// Add Global Variables
@import "../../../../styles.scss";

.footer {
    background-color: $green;
    .title,
    ul li,
    a {
        color: white;
    }
    ul {
        padding-left: 15px;
    }
    i {
        font-size: 2.5rem;
    }
    .main {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        @media only screen and (max-width: $xs_size) {
            flex-direction: column;
        }
        .address a {
            width: 200px;
            display: block;
        }
        .address,
        .access,
        .emergency {
            width: 33.3%;
            @media only screen and (max-width: $xs_size) {
                width: 100%;
                margin: 0.5rem auto;
            }
        }
    }
}

.footer-bottom {
    text-align: center;
    background-color: $greenLigth;
    .logo-whitecloud {
        display: inline-block;
        margin: 0.5rem auto;
        img {
            width: 150px;
        }
    }
}
