/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "./styles/bootstrap/bootstrap";
// @import "spinner";

/* ================
Colors
================ */
$white: #ffffff;
$black: #000000;
$blue: #2a3377;
$blueLigth: #00ade6;
$green: #006600;
$greenLigth: #008b00;

/* ================
Responsive Sizes
================ */
$xs_size: 575px;
$sm_size: 768px;

/* ================
General Styles
================ */
body {
    background-color: $white;
    font-size: 16px;
    font-family: sans-serif;
}

h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.1em;
}
p {
    font-size: 1em;
}
a {
    transition: 0.3s linear;
    &:hover {
        color: $greenLigth !important;
        text-decoration: none;
    }
}
i {
    color: $white;
}

/* ================
Button Styles
================ */
.btn {
    padding: 0.8rem;
    &-light {
        border: 1px solid $green;
        color: $green;
        &:hover {
            background-color: $green;
            border-color: $green;
            color: $white !important;
        }
    }
    &-primary {
        background-color: $green;
        border-color: $green;
        &:hover,
        &:focus,
        &:active {
            background-color: $greenLigth;
            border-color: $greenLigth;
            color: $white !important;
            box-shadow: 0 0 0 0.2rem rgba($greenLigth, 0.5);
        }
    }
}

// Title Default
.title-default {
    border: 1px solid $green;
    color: $white;
    background-color: $green;
    text-align: center;
    margin-top: 3rem;
    // margin-bottom: 2rem;
    h2 {
        border-top: 5px solid $white;
        border-bottom: 5px solid $white;
        font-weight: bold;
        margin: 0.8rem auto;
        padding: 0.5rem;
    }
}

// Text Default
.text-default {
    color: $green;
    text-align: justify;
    margin: 3rem auto;
}

.parallax {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 7%;
    padding-bottom: 7%;
    background-attachment: fixed;
    text-align: center;
}

@keyframes banner-animated {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

// Slider
.slider {
    .picsum-img-wrapper {
        animation: banner-animated 7s;
        animation-iteration-count: infinite;
        img {
            width: 100%;
            @media only screen and (max-width: 768px) {
                width: auto;
            }
        }
    }
    .carousel-caption {
        top: 20%;
        .title {
            font-size: 3rem;
            font-weight: 600;
            text-shadow: rgb(0, 102, 0) 2px 0px 0px, rgb(0, 102, 0) 1.75517px 0.958851px 0px,
                rgb(0, 102, 0) 1.0806px 1.68294px 0px, rgb(0, 102, 0) 0.141474px 1.99499px 0px,
                rgb(0, 102, 0) -0.832294px 1.81859px 0px, rgb(0, 102, 0) -1.60229px 1.19694px 0px,
                rgb(0, 102, 0) -1.97999px 0.28224px 0px, rgb(0, 102, 0) -1.87291px -0.701566px 0px,
                rgb(0, 102, 0) -1.30729px -1.51361px 0px, rgb(0, 102, 0) -0.421592px -1.95506px 0px,
                rgb(0, 102, 0) 0.567324px -1.91785px 0px, rgb(0, 102, 0) 1.41734px -1.41108px 0px,
                rgb(0, 102, 0) 1.92034px -0.558831px 0px;
        }
        .subtitle {
            color: $green;
            font-size: 1.5rem;
            font-weight: 600;
            border: 1px solid $white;
            background: $white;
            padding: 10px;
            display: inline-block;
        }
        .btn-primary {
            display: block;
            width: 110px;
            margin: auto;
        }
    }
}

// Utils
.grid-three {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    @media only screen and (max-width: $xs_size) {
        grid-template-columns: repeat(2, auto);
    }
    @media only screen and (max-width: 480px) {
        grid-template-columns: repeat(1, auto);
    }
}

.w-60 {
    width: 60%;
    @media only screen and (max-width: $xs_size) {
        width: 80%;
    }
}

// Picture
.picture-item {
    border: 2px solid $green;
    padding: 8px;
    border-radius: 10px;
    margin: 0.5rem;
    .description {
        color: $green;
        margin-top: 1rem;
    }
}

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
